@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_LayoutIntro.cshtml";
}

<div class="darkmask text-center text-light">
	<div class="container px-4 px-lg-5 h-100">
		<div class="row align-items-center justify-content-center gx-4 gx-lg-5 min-vh-100">
			<div class="col-sm-10 my-auto">
				<h1 class="display-4"><img class="img-fluid" src="~/img/logo.webp" alt="Logo"></h1>
				<h3 class="mt-5">Itasha Store è un'azienda leader nel settore dei trasporti weaboo in Italia.</h3>
				<p>Dal 2023 ci impegnamo ad offrire il meglio per l'otaku che vuole sentire il contatto emotivo con la propria autovettura,<br />garantendo waifu calde come i motori delle nostre auto.</p>
				<div class="mt-5">
					<a class="btn m-1" asp-controller="Clienti" asp-action="Index" role="button">Accesso clienti</a>
					<a class="btn m-1" asp-controller="Admin" asp-action="Index" role="button">Accesso admin</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container px-3 px-lg-5 h-100">
		<div class="row align-items-center justify-content-center gx-4 gx-lg-5 min-vh-100">
			<div class="col-sm-10 my-auto">
				<h1 class="display-4">Le nostre auto più richieste</h1>
				
				
				<div id="carouselExample" class="carousel slide">
					
					<div class="carousel-inner">
						<div class="carousel-item active" style="max-height: 550px">
							<a href="/Clienti/Details/30"><img src="/img/itasha/Panda Trueno 86 - Takumi Fujiwara - Initial D.webp" class="d-block w-100" alt="Panda Trueno 86 - Takumi Fujiwara - Initial D.webp"></a>
						</div>
						<div class="carousel-item" style="max-height: 550px">
							<a href="/Clienti/Details/21"><img src="/img/itasha/Chevrolet Camaro SS - Riko Sakurauchi - LoveLive.webp" class="d-block w-100" alt="Chevrolet Camaro SS - Riko Sakurauchi - LoveLive.webp"></a>
						</div>
						<div class="carousel-item" style="max-height: 550px">
							<a href="/Clienti/Details/25"><img src="/img/itasha/McLaren - Kirumi Toujou - Danganronpa.webp" class="d-block w-100" alt="McLaren - Kirumi Toujou - Danganronpa.webp"></a>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
            </div>
		</div>
	</div>
</div>