
<div id="auto_container" class="card darkmask border border-2 border-red">

</div>

    
</div>
<div class="container">
    <div class="col-12 col-md-10 col-lg-8 mb-3">
        <div class="row g-3 gy-5 justify-content-evenly">
            <div class="col-12 col-md-10 col-lg-12 me">
                <a class="btn" href="@Url.Action("Index", "Clienti")">Torna alle auto</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        const id = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);

        axios.get(`/api/cars/${id}`).then((res) => {

            let car = res.data;
            console.log('car ricevuta', car);
            

            document.getElementById('auto_container').innerHTML +=
                `
                            <div class="row no-gutters">
                <div class="col-sm-7">
                    <img class="card-img" src="/img/itasha/${car.url_image}" alt="${car.name}">
                </div>
                <div class="col-sm-5">
                    <div class="card-body">
                        <h2 class="card-title text-light">${car.name}</h5>
                        <p class="card-text text-light">${car.sticker.name}</p>
                        <img class="card-img" src="/img/logos/${car.sticker.url_image}" alt="${car.sticker.opera}" />
                        <p class="card-text text-light">${car.description}</p>
                        <p class="card-text text-light"><strong>Colore:</strong> ${car.color}</p>
                        <h5 class="card-text text-light"><strong>Prezzo:</strong> ${car.price} €</p>
                        <a href="#" class="btn">Acquista</a>
                    </div>
                </div>
            </div>
                                `;

        });

    </script>
}
