@using Microsoft.AspNetCore.Identity;



<div class="darkmask text-light border border-2 border-red">
<div class="row justify-content-center d-flex">
    <div class="col-10 col-md-8 text-center text-light mt-5">
        <h1>Conferma di ricezione dell'ordine</h1>
    </div>
</div>

    <div class="row justify-content-center d-flex">
        <div class="col-10 col-md-8 text-center text-light mb-5">
<img src="/img/menhera_happy.png" alt="" />
            <h4 class="text-success">Complimenti, il tuo ordine è stato inoltrato correttamente!</h4>
            <p>A breve riceverai un'email all'indirizzo da te fornito in fase di prenotazione con le informazioni su come ritirare la tua nuova fiammante <del>waifu</del> autovettura.</p>
            <p>Controlla la tua casella di posta elettronica e conferma la prenotazione tramite il link inoltrato.<br>Durante la compilazione del form ti chiederemo tutti i dati necessari a finalizzare l'ordine.</p>
            <h4 class="text-danger">Grazie per aver utilizzato la nostra piattaforma e arrivederci alle migliori fiere del fumetto!</h4>
            <p>Vuoi uno sconto? Presentati in concessionario con un cosplay e detrarremo 100€ dall'acquisto della tua auto!</p>
        </div>
    </div>



<div class="row justify-content-center d-flex">
    <div class="col-10 col-md-8 text-center text-light my-5">
        <a class="btn" href="@Url.Action("Index", "Clienti")">Torna alle auto</a>
    </div>
</div>
</div>