<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Itasha Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Projectwork_Store.styles.css" asp-append-version="true" />
</head>
<body class="wallpaper d-flex flex-column min-vh-100">
    <header>
 

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom border-3 border-red box-shadow mb-0">
            <div class="container-fluid">
                <a class="navbar-brand pb-2" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logowide.webp" height="30" alt="Logo" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                      
                        </li>
                        <li class="nav-item">
                        <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="text-end">
            <img class="mb-3 mt-0 align-top" src="~/img/borderend.webp" />
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div style="margin-top: 200px;"></div>
    <footer class="border-top border-2 border-white footer text-muted bg-black mt-auto">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <p class="mt-2">Itasha Store è un negozio fittizio pensato dalla diabolica mente di <a href="https://ericchi.moe">Erika</a> e realizzato dai membri del gruppo 4 della classe DOITA07, che si sono sostenuti a vicenda in questa idea degenerata:</p>
                    <ul>
                        <li>
                            Luciano Cecere (Backend, modelli)
                        </li>
                        <li>
                            Gemma Marianelli (Backend, autenticazione)
                        </li>
                        <li>
                            Giovanni Pagliara (Backend, modelli, database)
                        </li>
                        <li>
                            Erika Rizzi (Project lead, frontend, gestione repository, UX e UI)
                        </li>
                        <li>
                            Youssef Saleh (Frontend, backend, viste Admin e Clienti)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="bottompic">
            <img class="mascot" src="~/img/mascot.webp" alt="Mascotte" />
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

