
@{
   
}

<div class="row g-3 mt-1 align-items-center text-light darkmask mt-5 mb-5 p-5 border border-2 border-red">
    <div class="text-center">
    <h1 class="mt-3 mb-3">id: Model.id</h1>
    <img class="w-75"
        src="https://imageio.forbes.com/specials-images/imageserve/5d35eacaf1176b0008974b54/0x0.jpg?format=jpg&crop=4560,2565,x790,y784,safe&width=1200"
        alt="Model.Nome" />
    </div>
    <hr/>
    <p>
        <strong>Nome:</strong>
            Model.Nome
    </p>
    <p>
        <strong>Descrezione: </strong>
        Model.Descrezione
    </p>
    <p>
        <strong>Prezzo:</strong>
        Model.Prezzo <span>€</span>
    </p>
    <p>
        <strong>Categoria:</strong>
        Model.Categoria.Name
    </p>
    <p>
        <strong>Colore:</strong>
        Model.Colore
    </p>
    <p>
        <strong>Sticker:</strong>
        Model.Sticker.Name
    </p>
</div>
<div class="row">
    <div class="col-12 col-md-10 col-lg-8">
        <div class="row g-3 gy-5 justify-content-evenly">
            <div class="col-12 col-md-10 col-lg-12 me">
                <a class="btn" href="@Url.Action("Index", "Admin")">Torna alle auto</a>
            </div>
        </div>
    </div>
</div>
