

@{
}

<form class="text-light">
    <!--Html.AntiForgeryToken()-->
    <div class="row g-3 mt-1 align-items-center">
        <div class="col">
            <label>Id della auto:</label>
            <input type="text" class="form-control bg-black text-light darkmask border border-2 border-red" disabled />
        </div>
    </div>
    <div class="row g-3 mt-1 align-items-center">
        <div class="col">
            <label>Nome:</label>
            <input type="text" class="form-control bg-black text-light darkmask border border-2 border-red" />
            <span class="text-danger"></span>
        </div>
        <div class="col">
            <label>Colore:</label>
            <input type="text" class="form-control bg-black text-light darkmask border border-2 border-red" />
            <span class="text-danger"></span>
        </div>
    </div>
    <div class="row g-3 mt-1 align-items-center">
        <div class="col">
            <label>Descrizione:</label>
            <textarea rows="10" class="form-control bg-black text-light darkmask border border-2 border-red"></textarea>
            <span class="text-danger"></span>
        </div>
    </div>
    <div class="row g-3 mt-1 align-items-center">
        <div class="col">
            <label>Url Immagine:</label>
            <input type="text" class="form-control bg-black text-light darkmask border border-2 border-red" />
            <span class="text-danger"></span>
        </div>
    </div>
    <div class="row g-3 mt-1 align-items-center">
        <div class="col">
            <label>Sticker:</label>
            <select rows="5" class="form-select bg-black text-light darkmask border border-2 border-red w-100">
                <option value=""></option>
                <option value="sticker.Id">sticker.Name</option>
            </select>
            <span class="text-danger"></span>
        </div>
    </div>
    <div class="row g-3 mt-1 align-items-center">
        <div class="col">
            <label>Prezzo in €:</label>
            <input type="number" class="form-control bg-black text-light darkmask border border-2 border-red" />
            <span class="text-danger"></span>
        </div>
        <div class="col">
            <label>Categoria:</label>
            <select rows="5" class="form-select bg-black text-light darkmask border border-2 border-red w-100">
                <option value=""></option>
                <option value="category.Id">category.Name</option>
            </select>
            <span class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="mt-4 btn btn-primary">Salva</button>
</form>
